{% extends 'master.html' %}
{% load static %}
<!--Done by Doaa-->


{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/ADD-STUDENT.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<script src="../JS/menu.js" defer></script>
<title>AddStudent</title>
{% endblock %}

{% block contents %}

<div class="add-student-page">
  <div class="big-cont" id ='big-cont'>
    <div class="blur" id ='blur'>
    <div class="title">ADD STUDENT</div>
    <div class="left-cont">
      <form id = 'form' method = "POST" action="" class="inp-form">
        {% csrf_token %}
        {%csrf_token%}
        {% csrf_token %}
        <div class = user>
        
          <div class="inp-cont">
          <label for="id" >Student ID</label>
          <input id ='id' type="text" placeholder="Enter Student Id" name = "id" required>
          <div class="error"></div>
        </div>

        <div class="inp-cont">
          <label for = 'name'>Student Name</label>
          <input id ='name' type="text" placeholder="Enter Student Name" name = "name" required>
          <div class="error"></div>
        </div>

        <div class="inp-cont">
          <label for = 'birth'>Date of Birth</label>
          <input id ='date' type="date" placeholder="Enter your date of birth" name = "birth" required>
          <div class="error"></div>
        </div>

        <div class="inp-cont">
          <label for='gpa'>GPA</label>
          <input id = 'gpa' type="number" name = "gpa" step="0.01" min ='0.0' max='4.0' class="GPA" placeholder="Enter Student GPA" required>
          <div class="error"></div>
        </div>

        <div class="inp-cont">
          <label for = 'email'>Email</label>
          <input id='email' type="email" placeholder="Enter Email" name ="email" required>
          <div class="error"></div>
        </div>

        <div class="inp-cont">
          <label for = 'number'>Mobile Number</label>
          <input id = 'number' type="text" placeholder="Mobile Number" name = "number" required>
          <div class="error"></div>
        </div>

        <div class="inp-cont">
          <label for = 'level'>Level</label>
        <div class="option-cont">
          <select name="level" id="level" class="inp-select" required>
          <option  value="1">Level 1</option>
          <option  value="2">Level 2</option>
          <option value="3">Level 3</option>
          <option  value="4">Level 4</option>
        </select>
        </div>
        <div class="error"></div>
      </div>

      <div class="inp-cont">
        <label>Department</label>
        <select name="department" id="department" class="depart-select" required>
          <option value="General">General</option>
          <option value="CS">Computer Science(CS)</option>
          <option value="IS">Information System(IS)</option>
          <option value="DS">Decision Support(DS)</option>
          <option value="AI">Artificial Intelligence(AI)</option>
          <option value="IT">Information Technology(IT)</option>
        </select>
        <div class="error"></div>
      </div>
     

        <div class="inp-cont">
          <label>Gender</label>
          <div class="Gender-inp"> 
            <input type="radio" id ='gender' name="Gender" value="male" required>Male
            <input type="radio" id='gender' name="Gender" value="female" required>Female
            <div class="error"></div>
          </div>
        </div>
      

        <div class="inp-cont">
          <label>Status</label>
          <div class="status-inp">
            <input type ="radio"  id = 'stat' name = 'status' value="active">active
            <input type ="radio"  id = 'stat'  name = 'status' value="inactive">inactive
            <div class="error"></div>
          </div>
          <div class="error"></div>
        </div>  
        <button type="submit" id = 'sub-btn' class="sub-btn">Add student</button>
      </div>
    </div>
      </div>
      <div class="popup" id = 'popup'>
        <img src="{%static 'img/tick.png'%}">
        <h2>Success!</h2>
        <p>student data has been successfully submitted.Thanks!</p>
        <button type="button" id ='popup-btn'>Continue</button>
      </div>
      </form>
    
  </div>
  <script src = "{%static 'JS/ADD-STUDENT.js' %}"></script>
</div>
{% endblock %}

