{% extends 'master.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/dep.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
<script src="../JS/menu.js" defer></script>
<script src="../JS/dep.js" defer></script>
{% endblock %}

{% block contents %}
<div class="page-container">
  <h1>Edit department for student</h1>
  <form id="form" method="post">
    {%csrf_token%}
    <div class="form-container">
      <label for="name" id="f1">Student name</label>
      <input id="name" type="text" value="{{Sname}}" readonly />
    </div>
    <div class="form-container">
      <label for="id" id="f2">Student Id</label>
      <input id="id" onblur="ser(this.value)" type="number" value={{SId}} readonly />
    </div>
    <div class="form-container">
      <label for="department" id="f3">Department</label>
      <select id="department" name="Sdep">
        <option value="General" {% if Sdep == "General" %} selected="selected" {% endif %} >General</option>
        <option value="CS" {% if Sdep == "CS" %} selected="selected" {% endif %} >Computer Science(CS)</option>
        <option value="IS" {% if Sdep == "IS" %} selected="selected" {% endif %} >Information System(IS)</option>
        <option value="DS" {% if Sdep == "DS" %} selected="selected" {% endif %} >Decision Support(DS)</option>
        <option value="AI" {% if Sdep == "AI" %} selected="selected" {% endif %} >Artificial Intelligence(AI)</option>
        <option value="IT" {% if Sdep == "IT" %} selected="selected" {% endif %} >Information Technology(IT)</option>
      </select>
    </div>
    <input type="submit" id="submit" />
  </form>
</div>

{% endblock %}
