{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
  <link rel="stylesheet" href="{% static 'css/general-home.css' %}" />
  <title>FCAI home</title>
</head>

<body>
  <div class="first-sec">
    <div class="logos-area">
      <div class="logo-container">
        <img src="{% static 'img/logo.png' %}" alt="logo" />
      </div>
      <h1>|</h1>
      <div class="logo-container">
        <img class="uni-logo" src="{% static 'img/uni-logo.png' %}" alt="logo" />
      </div>
    </div>
    <h1 id="faculty-title">
      Faculty of computers and artificial intelagance Cairo University
    </h1>
  </div>
  <div class="second-sec">
    <div class="container">
      <a href="#">
        <div class="web-options">
          <img src="{% static 'img/people-group.svg' %}" alt="icon" class="icon" />
          <h2 class="web-title">Human Resources</h2>
        </div>
      </a>
      <a href="home">
        <div class="web-options">
          <img src="{% static 'img/students-affaires.svg' %}" alt="icon" class="icon" />
          <h2 class="web-title">Students Affaires</h2>
        </div>
      </a>
      <a href="#">
        <div class="web-options">
          <img src="{% static 'img/higher-studies.svg' %}" alt="icon" class="icon" />
          <h2 class="web-title">Higher Studies</h2>
        </div>
      </a>
      <a href="#">
        <div class="web-options">
          <img src="{% static 'img/laboratory-tracking.svg' %}" alt="icon" class="icon" />
          <h2 class="web-title">Laboratory tracking</h2>
        </div>
      </a>
    </div>
  </div>
</body>

</html>