<!-- Done by Abobakr -->
{% extends 'master.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/Students-Page.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
<script src="{% static 'JS/menu.js' %}" defer></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<title>Students</title>
{% endblock %}

{% block contents %}
<div class="filter">
  <form id="filter-form">
    <div class="filter-cont">
      <p>Filter by Department, Level and/or Status</p>

      <div class="sub-filter">
        <label class="form-label" for="dept">Department</label><br />
        <select name="Department" id="dept" class="dpt">
          <option value="">--------------</option>
          <option value="General">General</option>
          <option value="CS">Computer Science (CS)</option>
          <option value="IS">Information systems (IS)</option>
          <option value="IT">Information Technology (IT)</option>
          <option value="AI">Artificial Intelligence (AI)</option>
          <option value="DS">Decision Support (DS)</option>
        </select>
      </div>

      <div class="sub-filter">
        <label for="lvl" class="form-label">Level</label><br />
        <select name="Level" id="lvl" class="_lvl">
          <option value="">-------</option>
          <option value="1">First</option>
          <option value="2">Second</option>
          <option value="3">Third</option>
          <option value="4">Fourth</option>
        </select>
      </div>

      <div class="sub-filter">
        <label for="stat" class="form-label">Level</label><br />
        <select id="stt" name="Status">
          <option value="">-------</option>
          <option value="active">active</option>
          <option value="inactive">inactive</option>
        </select>
      </div>
      <br />
      <br />

      <input type="reset" value="Reset" id="reset-btn" />
      <input type="submit" value="Apply" />
    </div>
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>GPA</th>
      <th>Level</th>
      <th style="width: 10%;">Department</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody id="tbody"></tbody>
</table>
<div id="indexing">
  <button id="prev">&lt;&lt;</button>
  <input type="text" name="index" id="page-index" disabled />
  <button id="next">&gt;&gt;</button>
</div>
<script src="{% static 'JS/Students-Page.js' %}"></script>
{% endblock %}
