<!--Done by Ganna-->
{% extends 'master.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
<link rel="stylesheet" href="{% static 'css/update.css' %}" />
<title>Edit student page</title>
{% endblock %}

{% block contents %}

<div class="cont">
  <form id="update_form" autocomplete="off">
    <div class="content">
      <h1>update Student Page</h1>
      <div class="input-box">
        <!-- ID -->
        <label for="Student ID">Student ID</label>

        <input id="Student ID" type="text" placeholder="Student ID" name="ID" required />
      </div>

      <div class="input-box">
        <!-- name -->
        <label for="name"> Student name</label>

        <input id="name" type="text" placeholder=" Student name" name="name" required />
      </div>

      <div class="input-box">
        <label for="E">E-Mail</label>

        <input id="E" type="email" required placeholder="E-Mail" name="email" />
      </div>

      <div class="input-box">
        <label for="pn">Mobile number</label>

        <input id="pn" type="text" placeholder="Mobile number" required value="Mobile number" name="phone" />
      </div>

      <div class="input-box">
        <!-- date -->
        <label for="Date">Date of birth</label>

        <input id="Date" type="date" name="birthDate" required />
      </div>
      <div class="input-box">
        <!-- GPA -->
        <label for="GPA">GPA</label>

        <input id="GPA" type="number" placeholder="GPA" name="GPA" min="0.1" max="4.00" step="0.01" />
      </div>
      <div class="input-box">
        <label for="DP"> Department </label>
        <input id="DP" name="department" disabled />
      </div>

      <div class="input-box">
        <!-- levels -->
        <label for="level">Level</label>
        <select id="level" name="level">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

      <div class="input-box">
        <!-- gndr -->
        <br />
        <label for="gender">Gender</label>
        <br />
        <input id="gender" type="radio" value="male" name="gender" required />
        <label id="gender">Male</label>
        <br />
        <input id="gender" type="radio" value="female" name="gender" required />
        <label id="gender">Female</label>
      </div>
      <div class="input-box">
        <!-- status -->
        <label for="status">status</label>
        <br />
        <input id="status" type="radio" value="active" name="status" required />
        <label id="status">active</label>
        <br />
        <input id="status" type="radio" value="inactive" name="status" required />
        <label id="status">inactive</label>
      </div>

      <br /><br />
      <div class="button_">
        <input type="submit" value="Update" id="sb" />
        <input type="button" value="Delete" id="de" />
      </div>
      <div>
        <p id="message"></p>
      </div>
    </div>
  </form>
</div>
<script src="{% static 'JS/update_page.js' %}"></script>

{% endblock %}