{% extends 'master.html' %}
{% load static %}

{% block styles %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/styleUpdate.css' %}" />
<link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
{% comment %}
<script src="../JS/loadStudents.js" defer></script>
<script src="../JS/menu.js" defer></script> {% endcomment %}

<title>Update</title>
{% endblock %}

{% block contents %}
<section class="table-section">
  <h1>here you can choose student and edit his information</h1>

  <div class="filter-section">
    <button id="filter">Filter</button>
    <form id="form">
      <div class="select-container">
        <label for="department">Department</label>
        <select name="department" id="department">
          <option value="null">Defualt</option>
          <option value="General">General</option>
          <option value="CS">Computer Science (CS)</option>
          <option value="IS">Information systems (IS)</option>
          <option value="IT">Information Technology (IT)</option>
          <option value="AI">Artificial Intelligence (AI)</option>
          <option value="DS">Decision Support (DS)</option>
        </select>
        <div class="arrow-icon">
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <div class="select-container">
        <label for="Level">Level</label>
        <select name="level" id="level">
          <option value="null">Defualt</option>
          <option value="1">First</option>
          <option value="2">Second</option>
          <option value="3">Third</option>
          <option value="4">Fourth</option>
        </select>
        <div class="arrow-icon">
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <div class="select-container">
        <label for="sort">sort</label>
        <select name="sort" id="sort">
          <option value="null">Defualt</option>
          <option value="id">ID</option>
          <option value="name">name</option>
          <option value="gpa">GPA</option>
        </select>
        <div class="arrow-icon">
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <input id="filter-btn" type="submit" value="Apply" />
    </form>
  </div>

  <table>
    <thead>
      <tr class="table-row">
        <th>ID</th>
        <th class="name">Name</th>
        <th class="gpa">GPA</th>
        <th class="level">Level</th>
        <th>Department</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody id="studentsTable">
      {% for student in students %}
      <tr class="table-row">
        <th>{{student.ID}}</th>
        <th class="name">{{student.name}}</th>
        <th class="gpa">{{student.GPA}}</th>
        <th class="level">{{student.level}}</th>
        <th>{{student.department}}</th>
        <th><i class="fa-regular fa-pen-to-square fa-lg"></i></th>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</section>
{% endblock %}